{% extends "edc_dashboard/listboard.html" %}
{% load admin_urls %}
{% load edc_base_extras %}
{% load timesheet_dashboard_extras %}

             
{% block listboard_panel %}
    <a id="timesheet_add" title="add monthly timesheet" class="btn btn-sm btn-default" role="button" 
        href="{{ timesheet_add_url }}?next={{ timesheet_listboard_url }}">
            <i class="fa fa-plus fa-sm"></i> Add Timesheet
    </a>
    <!-- <a id="return_to_home" title="go back" class="btn btn-sm btn-default" role="button" 
        href="/">
            <i class="fa fa-arrow-left fa-sm"></i> Go Back
    </a> -->
{% endblock listboard_panel %}


{% block listboard_table_header %}
 
{% endblock listboard_table_header %}


{% block listboard_table_button_column %}
   
{% endblock listboard_table_button_column %}


{% block listboard_table_columns %}

{% endblock listboard_table_columns %}