    {% load timesheet_dashboard_extras %}
    <!-- begin search form -->
    <span class="pull-right">
      {% block listboard_search_form %}
        {% comment %} {% include 'edc_dashboard/search_form.html' %} {% endcomment %}
			<!-- Hidden field -->
			<span class="pull-right">
				<form  action="{% if search_form_url_reversed %}{{ search_form_url_reversed }}{% endif %}" class="form-inline" id="form-search" method="get" >
					<div class="form-group" >
						<div class="controls ">
							<div class="input-group">
								<input class="form-control input-sm textinput form-control" id="id_q" maxlength="150" name="q" placeholder="search" type="text" value="{{ q|default:'' }}" />
								
								<span class="input-group-btn">
									<button  type="submit" class="btn btn btn-default btn-sm">
										<i class="fa fa-search fa-sm"></i>
									</button>

								</span>
								{% if request.user|has_group:"HR" %}

									<input name="p_role" value="HR" type="hidden"/>

								{% elif request.user|has_group:"Supervisor" %}

									<input name="p_role" value="Supervisor" type="hidden"/>
									
								{% endif %}
							</div>
						</div>
					</div>
					{% if f %}<input type="hidden" name="f" value="{{ f }}">{% endif %}
					{% if e %}<input type="hidden" name="e" value="{{ e }}">{% endif %}
					{% if o %}<input type="hidden" name="o" value="{{ o }}">{% endif %}
				</form>    
			</span>

      {% endblock listboard_search_form %}
    </span>
    <!-- end search form -->
