{% extends listboard_base_template %}
{% load admin_urls %}
{% load edc_base_extras %}
{% load timesheet_dashboard_extras %}
{% load edc_dashboard_extras %}

{% block main %}

<div id="div-home-right" class="col-md-9">
 <!-- start listboard main block-->
 <div class="panel-group">
  <div class="panel panel-{{ listboard_panel_style }}">
   <div class="panel-heading">

    <i class="{{ listboard_fa_icon }} fa-2x"></i>
                    
    <!-- begin search form -->
    <span class="pull-right">
      {% block listboard_search_form %}
        {% include 'edc_dashboard/search_form.html' %}
      {% endblock listboard_search_form %}
    </span>
    <!-- end search form -->

    {% block listboard_panel %}
    {% if not employee %}
     {% if timesheet_add_url %}
      <a id="timesheet_add" title="add monthly timesheet" class="btn btn-sm btn-default" role="button" 
        href="{{ timesheet_add_url }}?next={{ timesheet_listboard_url }}">
            <i class="fa fa-plus fa-sm"></i> Add Timesheet
      </a>
     {% endif %}
    {% endif %}
    {% endblock listboard_panel %}

   </div> <!--end panel heading -->

   <!-- begin table -->
   <div class="table table-responsive">
    <table class="table table-condensed table-hover small">
     <thead>

      {% block listboard_table_header %}
      <!-- begin results header -->
       <th>#</th>
       <th></th>
       <th>Month</th>
       <th>Duration</th>
       <th>Status</th>
       <!-- end results header -->
	  {% endblock listboard_table_header %}

      </thead><tbody>

      {% block listboard_table_body %}

      {% for result in results %}
        <tr> 
        
         <td>{{ forloop.counter }}</td>
		 {% block listboard_table_button_column %}
		   <td style="white-space: nowrap">
		   <div class="btn-group">
		   {% if timesheet_add_url %}
			  <a title="Edit timesheet" role="button" class="btn btn-default btn-sm" href="{{ result.href }}">
			     <i class="fa fa-pencil-alt fa-sm"></i>
			  </a>
			     {% submit_timesheet_button result %}
			{% endif %}

		   {% if p_role == 'HR' or p_role == 'Supervisor' %}
		   	  {% if result.status == 'rejected' %}
		   	  	  <a id="submit_timesheet_{{employee_id}}"  title="View Timesheet"  data-toggle="tooltip"
				    data-placement="right" class="btn btn-danger btn-sm" href="{{ result.href }}&p_role={{p_role}}" >
			  {% elif result.status == 'submitted' %}
			      <a id="submit_timesheet_{{employee_id}}"  title="View Timesheet"  data-toggle="tooltip"
				    data-placement="right" class="btn btn-info btn-sm" href="{{ result.href }}&p_role={{p_role}}" >
			  {% else %}
		   	    <a id="submit_timesheet_{{employee_id}}"  title="View Timesheet"  data-toggle="tooltip"
				  data-placement="right" class="btn btn-success btn-sm" href="{{ result.href }}&p_role={{p_role}}" >
			  {% endif %} 
				View Timesheet</a>
		   {% endif %}

		   </div>
		   </td>
		 {% endblock listboard_table_button_column %}
			
		{% block listboard_table_columns %}
		 <td >{{ result.month }}</td>
		 <td>{{ result.object.total_hours }}</td>
		 <th>{{ result.timesheet_status }}</th>
		 <th style="white-space: nowrap"></th>
		 <th></th>
		 <th></th>
			
		{% endblock listboard_table_columns %}
		</tr>
    
     {% endfor %}

    {% endblock listboard_table_body %}

    </tbody></table>

	<!-- begin spacer rows -->
	<table>
	<tr><td>&nbsp;</td></tr>
	<tr><td>&nbsp;</td></tr>
	<tr><td>&nbsp;</td></tr>
	<tr><td>&nbsp;</td></tr>
	<tr><td>&nbsp;</td></tr>
	</table>
	<!-- end spacer rows -->

   </div><!-- end table -->

{% paginator_row %}

</div>  <!--end panel -->
</div> <!--end panel-group -->
<!-- end listboard main block -->

</div>

 <div class="col-md-3">

    {% block side_bar %}

	    {% include 'timesheet_dashboard/sidebar.html' %}

    {% endblock side_bar %}

</div> <!-- col-md-3 -->



<!-- <div id="div-home-right" class="col-md-3">
<div class="panel-group" id="accordion">
       <div class="panel panel-warning">
       <div class="panel-heading">Timesheets</div>
        <div class="panel-body"> 
        	<ul class="list-group">
			  <li class="list-group-item">
			   <a href="{% url  'timesheet_dashboard:timesheet_listboard_url' %}" > My Timesheets </a>
			  </li>
			  {% if 'Supervisor' in groups %}
			  <li class="list-group-item">
			    <a href="{% url  'timesheet_dashboard:timesheet_listboard_url' %}?p_role=Supervisor" > Surbodinates Timesheets </a>
			   
			  </li>
			  {% endif %}
			  {% if 'HR' in groups %}
			  <li class="list-group-item">
			    <a href="{% url  'timesheet_dashboard:timesheet_listboard_url' %}?p_role=HR" > Employee Timesheets </a>
			   
			  </li>
			  {% endif %}
			 </ul>
        </div>
       </div>

     <div class="panel panel-default">
      <div class="panel-heading">
          <h6 class="panel-title">
              <a id="special-forms-panel-title" data-toggle="collapse" data-parent="#accordion" href="#special-forms-panel">Special Forms <span class="caret"></span></a>
          </h6>
      </div>
      <div id="special-forms-panel" class="panel-collapse collapse collapse">
         
      </div> 
	</div>
</div>
</div> -->

{% endblock main %}
