{% extends 'edc_base/base.html' %}
{% load procurement_dashboard_extras %}
{% load static %}

{% block extra-styles %}
	<link type="text/css" rel="stylesheet" href="{% static 'timesheet_dashboard/css/calendar_table.css' %}">
{% endblock extra-styles %}
{% block extra-scripts %}
	<script type="text/javascript" charset="utf8" src="{% static 'timesheet_dashboard/js/calendar_table.js' %}"></script>
{% endblock %}

{% block main %}

	<div class="row">
		<div class="row controls" style="display:inline">
			<div class="buttons" style="float:left">
				<form method='POST' id="controlForm" action="{% url 'timesheet_dashboard:timesheet_calendar_table_url' employee_id %}{{currDate}}" name="timesheet">
					{% csrf_token %}
					<input id='controller' type='hidden' name='controller'/>
					<a id="prevWeek" type="button" class="btn btn-default"><i class="glyphicon glyphicon-chevron-left"></i></a>
					<a id="nextWeek" type="button" class="btn btn-default"><i class="glyphicon glyphicon-chevron-right"></i></a>
				</form>
			</div>
			<div id="currentDate" style="float:left">
				<p>Week: {{weeks.0 | date:"d" }} - {{weeks|last | date:"d M Y" }}</p>
			</div>
		</div>
		<form method='POST' id="timesheet_form" action="{% url 'timesheet_dashboard:timesheet_calendar_table_url' employee_id  %}{{currDate}}" name="timesheet">
		  		{% csrf_token %}
		<table class="table" id="calendarTable">
		  <thead>
		   <tr>
		   <th></th>
		   		{% with weeks|join:"," as str_weeks %}
			  		{{ str_weeks|json_script:"weeks" }}
			  	{% endwith %}
			  		{% for day in weeks %}
			  			<th style="text-align:center; color:#808080">			
			  				{{day | date:"D" }} <br/> {{day | date:"d M" }}
			  			</th>
			  		{% endfor %}
			 <th>Total</th>
			 <th></th>
			 <th></th>
			 <th></th>
			 <th></th>
			 <th></th>
			 <th></th>

		    </tr>
		  </thead>
		  <tbody style="background-color:#fff;">
		  	<td></td>
		  		{% if week_entries %}
			  		<tr>
			  			<td></td>
			  			{% for entry in week_entries %}
			  				<td><input id='dailyentry_set-0-duration' type='number' class='form-control form-control-sm' name='dailyentry_set-{{forloop.counter0}}-duration' value="{{entry}}"/></td>
			  			{% endfor %}
			  		</tr>
		  		{% endif %}
			  {% for day in weeks %}
			  	<td> <input id='dailyentry_set-{{forloop.counter0}}-day' type='hidden' value='{{day | date:"Y-m-d"}}' name='dailyentry_set-{{forloop.counter0}}-day'/> </td>
			  	<td> <input id='dailyentry_set-{{forloop.counter0}}-entry_type' type='hidden' value='reg_hours' name='dailyentry_set-{{forloop.counter0}}-entry_type'/> </td>
			  {% endfor %}
			  <td> <input id='month' type='hidden' value='{{curr_month | date:"Y-m-d"}}' name='month'/> </td>
		  </tbody>
		   
		  <tfoot>
		 
		  	<tr>
		  		{% if review %}
		  			<td>
		  			  <a class="btn btn-primary approve-record" >
	        			<i class="glyphicon glyphicon-ok"> <input id="approve_timesheet" class="btn btn-primary" type="submit" value="Approve"></i>
	        		 </a>
		  			</td>
		  			
		  			<td>
		  			  <a class="btn btn-default reject-record" >
	        			<i class="glyphicon glyphicon-remove"> <input id="approve_timesheet" class="btn btn-default" type="submit" value="Reject"></i>
	        		 </a>
		  			</td>

				{% elif verify %}
					  <td>
		  			  <a class="btn btn-primary verify-record" >
	        			<i class="glyphicon glyphicon-ok"> <input id="approve_timesheet" class="btn btn-primary" type="submit" value="Verify"></i>
	        		 </a>
		  			</td>
		  			
		  			<td>
		  			  <a class="btn btn-default reject-record" >
	        			<i class="glyphicon glyphicon-remove"> <input id="approve_timesheet" class="btn btn-default" type="submit" value="Reject"></i>
	        		 </a>
		  			</td>
				  {% else %}
				  
	        	<td>
	        		<button type="button" class="btn btn-default" id="add-row">
					  	<i class="glyphicon glyphicon-plus"></i> New Row
					</button>
	        		<a class="btn btn-success save-record" >
	        			<i class="glyphicon glyphicon-save"> <input id="save_timesheet" class="btn btn-success" type="submit" value="Save"></i>
	        		</a>
	        	</td>
	        	{% endif %}
	        	<td></td>
				<td></td>
	        	<td></td>
	        	<td></td>
	        	<td></td>
	        	<td></td>
	        	<td></td>
	        	<td></td>
	        	<td></td>
	        	<td></td>
	        	<td></td>
	        	<td></td>
	        	<td></td>
	        	<td></td>
	      	</tr>
        
		  </tfoot>

		</table>
	</form>
		
		<!-- Modal -->
		<div id="addModal" class="modal fade" role="dialog">
	  		<div class="modal-dialog">
	
			    <!-- content-->
			    <div class="modal-content">
			    	<div class="modal-header">
			    		<h5 class="modal-title">Add Row</h5>
			        </div>
			        <form>
					<div class="modal-body">
			            <div class="form-group col-md-12">
							<input name="task" id="task" type="text" class="form-control" placeholder="Task" required />
							<input name="day_count" id="day_count" type="hidden" value={{count}}/>
			            </div>
		            	<div class="clearfix"></div>
		        	</div>
		        	<div class="modal-footer">
		            	<input type="button" class="btn btn-success" value="Add Row" />
		            	<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
		        	</div>
			        </form>
			   </div>
	 		</div>
		</div>
	</div>



{% endblock main %}