{% extends 'edc_base/base.html' %}
{% load procurement_dashboard_extras %}
{% load static %}
{% load edc_base_extras edc_admin_modify %}
{% load i18n admin_urls %}

{% block extra-styles %}
	<link type="text/css" rel="stylesheet" href="{% static 'timesheet_dashboard/css/calendar_table.css' %}">
{% endblock extra-styles %}
{% block extra-scripts %}
	<script type="text/javascript" charset="utf8" src="{% static 'timesheet_dashboard/js/calendar_table.js' %}"></script>
{% endblock %}

{% block main %}

	<div class="row">
		<div class="row controls" style="display:inline">
			<div class="buttons" style="float:left">
				<form method='POST' id="controlForm" action="{% url 'timesheet_dashboard:timesheet_calendar_table_url' employee_id year curr_month %}?p_role={{p_role}}" name="timesheet">
					{% csrf_token %}
					<input id='controller' type='hidden' name='controller'/>
					<a id="prevMonth" type="button" class="btn btn-default"><i class="glyphicon glyphicon-chevron-left"></i></a>
					<kbd>{{month_name}} </kbd>
					<a id="nextMonth" type="button" class="btn btn-default"><i class="glyphicon glyphicon-chevron-right"></i></a>
				</form>
			</div>

		</div>
		<form method='POST' id="timesheet_form" action="{% url 'timesheet_dashboard:timesheet_calendar_table_url' employee_id   year curr_month %}?p_role={{p_role}}" name="timesheet">
		  		{% csrf_token %}
		<table class="table table-striped" id="calendarTable"><thead>
		   <tr>
		   <th></th>
		  		{% for title in week_titles %}
		  			<th style="text-align:center; color:#808080">
		  				{{title}} <br/>
		  			</th>
		  		{% endfor %}
			 <th colspan="18">Total</th>

		    </tr>
		  </thead>
		  <tbody style="background-color:#fff;">
		  		{% for key, values in daily_entries_dict.items %}
		  		 <tr>
		  		 <td></td>
		  		  <!--   <td> <input id='tasks' type='text' class='form-control form-control-sm' name='tasks' readonly /></td> -->
		  		   {% if forloop.first %}
		  		     {% for b in blank_days_range %}
		  		       <td> <input class='blank_cells' type='hidden' value=''/></td>
		  		     {% endfor %}

		  		   {% endif %}
		  		   {% for entry in values %}
		  				<td> <h5 style='text-align:center;'> {{entry.day |date:'j'}} </h5>
		  				<input id='{{entry.day |date:"j"}}-duration-' type='number' class='form-control form-control-sm' name='{{entry.day |date:"j"}}-duration' value="{{entry.duration}}" 
		  				{% if review or verify or read_only %} readonly {% endif %} />
		  				<input id='{{entry.day |date:"j"}}-day' type='hidden' value='{{entry.day|date:"Y-m-d"}}' name='{{entry.day |date:"j"}}-day'/>
		  				 <input id='{{entry.day |date:"j"}}-entry_type' type='hidden' value={{entry.entry_type}} name='{{entry.day |date:"j"}}-entry_type'/>
		  				 <input id='{{entry.day |date:"j"}}-row' type='hidden' value={{entry.row}} name='{{entry.day |date:"j"}}-row'/> </td>
		  			{% endfor %}
		  			<td colspan="17"></td>
		  		  </tr>
		  		{% endfor %}
		  </tbody>

		  <tfoot>

		  	<tr>
		  		{% if review %}
		  			
		  			<td>
		  				<input name="read_only" id="read_only" type="hidden" value="1"/>
		  			  <a class="btn btn-primary approve-record" >
	        			<i class="glyphicon glyphicon-ok"> <input id="approve_timesheet" name="approve_timesheet" class="btn btn-primary" type="submit" value="approved"></i>
	        		 </a>
		  			</td>

		  			<td>
		  			  <a class="btn btn-default reject-record" >
	        			<i class="glyphicon glyphicon-remove"> <input id="approve_timesheet" name="approve_timesheet" class="btn btn-default" type="submit" value="rejected"></i>
	        		 </a>
		  			</td>

				{% elif verify %}
					  <td>
					  <input name="read_only" id="read_only" type="hidden" value="1"/>
		  			  <a class="btn btn-primary verify-record" >
	        			<i class="glyphicon glyphicon-ok"> <input id="approve_timesheet" name="approve_timesheet" class="btn btn-primary" type="submit" value="verified"></i>
	        		 </a>
		  			</td>

		  			<td>
		  			  <a class="btn btn-default reject-record" >
	        			<i class="glyphicon glyphicon-remove"> <input id="approve_timesheet" name="approve_timesheet" class="btn btn-default" type="submit" value="rejected"></i>
	        		 </a>
		  			</td>
				  {% else %}

	        	<td>
	        		<input name="curr_month" id="curr_month" type="hidden" value="{{curr_month}}"/>
		        	<input name="year" id="year" type="hidden" value="{{year}}"/>
		        	<input name="last_day" id="last_day" type="hidden" value={{last_day}}/>
		            <input name="no_of_weeks" id="no_of_weeks" type="hidden" value="{{no_of_weeks}}"/>
				  	<input name=prefilled_rows id="prefilled_rows" type="hidden" value="{{prefilled_rows}}"/>
				  	<input name="blank_days" id="blank_days" type="hidden" value="{{blank_days}}"/>
					
					{% if not read_only %}
		        		<button type="button" class="btn btn-default" id="add-row">
						  	<i class="glyphicon glyphicon-plus"></i> New Row
						</button>
						<button type="button" class="btn btn-default" id="auto_fill">
						  	<i class="glyphicon glyphicon-plus"></i> Autofill
						</button>
	
		        		<a type="button" class="btn btn-default" id="save-record">
		        			<i class="glyphicon glyphicon-save"> <input id="save_timesheet" class="btn btn-success" type="submit" value="Save"></i>
		        		</a>
		        		
		        		<a type="button" class="btn btn-default" id="save-submit-record">
		        			<i class="glyphicon glyphicon-save"> <input id="save_timesheet" class="btn btn-success" type="submit" value="Save and Submit"></i>
		        		</a>
		        	{% else %}
		        		<a type="button" class="btn btn-success" id="save-record" disabled>
		        			{{timesheet_status}}
		        		</a>
	        		{% endif %}

	        	</td>
	        	{% endif %}
	        	<td colspan="15" ></td>

		  </tfoot>

		</table>
	</form>

		<!-- Modal -->
		<div id="addModal" class="modal fade" role="dialog">
	  		<div class="modal-dialog">

			    <!-- content-->
			    <div class="modal-content">
			    	<div class="modal-header">
			    		<h5 class="modal-title">Add Row</h5>
			        </div>
			        <form>
					<div class="modal-body">
			            <div class="form-group col-md-12">
							<input name="task" id="task" type="text" class="form-control" placeholder="Task" required />

			            </div>
		            	<div class="clearfix"></div>
		        	</div>
		        	<div class="modal-footer">
		            	<input type="button" class="btn btn-success" value="Add Row" />
		            	<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
		        	</div>
			        </form>
			   </div>
	 		</div>
		</div>
	</div>



{% endblock main %}