
<style>
    .circle-icon {
    background: greenyellow;
    padding:2px;
    border-radius: 50%;
    .circle-icon2 {
    background: red;
    padding:4px;
    border-radius: 50%;
}
</style>
{% if status == 'new' %}
<form method='POST' id="new_post" action="{% url 'timesheet_dashboard:timesheet_listboard_url'  employee_id %}?year={{year}}&month={{month}}" name="save-submit-record">
  	{% csrf_token %}
  	 <input class="btn btn-warning btn-sm" type="submit" value="Submit">
</form>
 		
{% elif status == 'submitted' %}
 <a id="submit_timesheet_{{employee_id}}"  title="Timesheet Submitted"  data-toggle="tooltip"
	data-placement="right" class="btn btn-info btn-sm" role="button" 
	href="{% url 'timesheet_dashboard:timesheet_calendar_table_url' employee_id  year month %}">
     
     <span class="btn-label"><i class="fas fa-tasks"></i></i></span>
	Submitted
 </a>
{% elif status == 'rejected' %}
   <a id="rejected_timesheet_{{employee_id}}"  title="Timesheet Rejected"  data-toggle="tooltip"
    data-placement="right" class="btn btn-danger btn-sm" role="button" 
	href="{% url 'timesheet_dashboard:timesheet_calendar_table_url' employee_id  year month %}">
       <span class="btn-label"><i class="glyphicon glyphicon-remove-sign circle-icon2"></i></span>
  Rejected
   </a>
 {% elif status == 'verified' %}
  <a id="verified_timesheet_{{employee_id}}"  title="Timesheet Verified"  data-toggle="tooltip"
	data-placement="right" class="btn btn-success btn-sm" role="button" 
	href="{% url 'timesheet_dashboard:timesheet_calendar_table_url' employee_id  year month %}">
	Verified
  </a>
{% else %}
   <a id="approved_timesheet_{{employee_id}}"  title="Timesheet Approved"  data-toggle="tooltip"
      data-placement="right" class="btn btn-success btn-sm" role="button" 
	  href="{% url 'timesheet_dashboard:timesheet_calendar_table_url' employee_id  year month %}">
       <span class="btn-label"><i class="glyphicon glyphicon-ok circle-icon"></i></span>
      Approved
   </a>
{% endif %}

