
<style>
    .circle-icon {
    background: greenyellow;
    padding:3px;
    border-radius: 50%;
    }
    .circle-icon2 {
    background: red;
    padding:4px;
    border-radius: 50%;
    
}
    .circle-icon1- {
    background: greenyellow;
    padding:3px;
    border-radius: 50%;
    
}
</style>
{% if status == 'new' %}
	<a id="edit_timesheet_{{employee_id}}"  title="Timesheet New"  data-toggle="tooltip"
		data-placement="right" class="btn btn-default btn-sm" role="button" 
		href="{% url 'timesheet_dashboard:timesheet_calendar_table_url' employee_id  year month %}">

     <span class="btn-label"><i class="fa fa-pencil-alt fa-sm"></i></span>
          Edit T/S
 </a>
{% elif status == 'submitted' %}
 <a id="submit_timesheet_{{employee_id}}"  title="Timesheet Submitted"  data-toggle="tooltip"
	data-placement="right" class="btn btn-info btn-sm" role="button" 
	href="{% url 'timesheet_dashboard:timesheet_calendar_table_url' employee_id  year month %}">
     
     <span class="btn-label"><i class="fas fa-tasks"></i></i></span>
     Submitted
 </a>
{% elif status == 'rejected' %}
   <a id="rejected_timesheet_{{employee_id}}"  title="Timesheet Rejected"  data-toggle="tooltip"
    data-placement="right" class="btn btn-danger btn-sm" role="button" 
	href="{% url 'timesheet_dashboard:timesheet_calendar_table_url' employee_id  year month %}">
       <span class="btn-label"><i class="glyphicon glyphicon-remove-sign circle-icon2"></i></span>
       Rejected
   </a>
 {% elif status == 'verified' %}
  <a id="verified_timesheet_{{employee_id}}"  title="Timesheet Verified"  data-toggle="tooltip"
	data-placement="right" class="btn btn-success btn-sm" role="button" 
	href="{% url 'timesheet_dashboard:timesheet_calendar_table_url' employee_id  year month %}">
        <span class="btn-label"><i class="glyphicon glyphicon-ok circle-icon1-"></i></span>
      Verified
  </a>
{% elif status == 'approved' %}
   <a id="approved_timesheet_{{employee_id}}"  title="Timesheet Approved"  data-toggle="tooltip"
      data-placement="right" class="btn btn-success btn-sm" role="button" 
	  href="{% url 'timesheet_dashboard:timesheet_calendar_table_url' employee_id  year month %}">
        <span class="btn-label"><i class="glyphicon glyphicon-ok circle-icon"></i></span>
       Approved
   </a>
{% endif %}

